* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: whitesmoke;
  background-color:blueviolet;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 4px solid #5893d7;  /* For debugging */
  padding: 20px;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: flex-end;
}

.login{
  margin-left: 20px;
  margin-right: 20px;
}

.date{
  margin-left: 20px;
}

.header-container{
  color: #5893d7;
  background-color: aquamarine;
  display: flex;
  justify-content: center;

}
.header{
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe,
.social {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.footer{
 display: flex;
 justify-content: space-between;
}

.footer-item{
  border: 4px solid #fff;
  background-color: aquamarine;
  height: 300px;
  flex: 1;
}
.footer-one,
.footer-three{
  flex: initial;
  width: 300px;
  background-color: blueviolet;
}
